.about {
  max-width: 90vw;
  text-align: left;

  ul {
    margin-left: 2rem;
    list-style-type: circle;
  }

  ol {
    margin-left: 2rem;
    list-style-type: decimal;
  }
  table {
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
  }

  table th {
    text-align: center;
    font-weight: 600;
  }

  table td,
  table th {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
  }

  table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
  }

  table tr:nth-child(2n) {
    background-color: #f6f8fa;
  }

  ol,
  p,
  pre,
  table,
  ul {
    margin-bottom: 16px;
    margin-top: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
  }

  img {
    width: 350px;
    height: 250px;
  }

  h1 {
    font-size: 2em;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
  }

  h1,
  h2 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    color: #6a737d;
    font-size: 0.85em;
  }

  code {
    font-size: 95%;
    background-color: #f4f4f4;
    padding: 0.2rem;
  }
}
